In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("C:/Users/myric/UCF_Projects/Mod_6/weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2021-08-07 14:47:53,-33.0153,27.9116,67.14,72,20,11.50
1,1,Mountain Home,US,2021-08-07 14:47:54,43.1330,-115.6912,63.34,39,1,6.91
2,2,Fairbanks,US,2021-08-07 14:46:55,64.8378,-147.7164,60.10,93,90,6.91
3,3,Jamestown,US,2021-08-07 14:47:54,42.0970,-79.2353,78.51,73,40,4.61
4,4,Port Moresby,PG,2021-08-07 14:47:54,-9.4431,147.1797,74.62,88,90,11.50

In [3]:
# Get data types. Must be integers or floating-point decimal numbers.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature - 6.5.2 [Changed heat_layer code 3x]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature - 6.5.2 [With Zoom]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(22.0, 21.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature - dissipation option
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(22.0, 21.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value. -6.5.3
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Banjar,ID,2021-08-07 14:47:55,-8.1900,114.9675,80.46,88,100,2.37
7,7,Port Blair,IN,2021-08-07 14:47:05,11.6667,92.7500,80.64,83,75,4.61
15,15,Albany,US,2021-08-07 14:47:58,42.6001,-73.9662,81.63,76,100,2.84
16,16,Yen Bai,VN,2021-08-07 14:47:58,21.7000,104.8667,83.91,82,100,3.38
17,17,Jacksonville,US,2021-08-07 14:44:35,30.3322,-81.6556,88.09,77,75,1.99
25,25,Kalmunai,LK,2021-08-07 14:48:01,7.4167,81.8167,83.30,77,100,5.64
28,28,Haimen,CN,2021-08-07 14:48:03,23.1935,116.6142,85.89,90,100,8.39
30,30,Palm Coast,US,2021-08-07 14:47:11,29.5850,-81.2078,88.09,69,19,1.01
36,36,Taveta,KE,2021-08-07 14:48:06,-3.3963,37.6736,81.99,45,76,7.81
53,53,San Patricio,US,2021-08-07 14:48:12,28.0170,-97.5169,87.87,64,3,9.95

In [14]:
preferred_cities_df.count()

City_ID       146
City          146
Country       141
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5         Banjar      ID     80.46  -8.1900  114.9675
7     Port Blair      IN     80.64  11.6667   92.7500
15        Albany      US     81.63  42.6001  -73.9662
16       Yen Bai      VN     83.91  21.7000  104.8667
17  Jacksonville      US     88.09  30.3322  -81.6556
25      Kalmunai      LK     83.30   7.4167   81.8167
28        Haimen      CN     85.89  23.1935  116.6142
30    Palm Coast      US     88.09  29.5850  -81.2078
36        Taveta      KE     81.99  -3.3963   37.6736
53  San Patricio      US     87.87  28.0170  -97.5169

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Banjar,ID,80.46,-8.1900,114.9675,The Hamsa Resort
7,Port Blair,IN,80.64,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
15,Albany,US,81.63,42.6001,-73.9662,
16,Yen Bai,VN,83.91,21.7000,104.8667,AK MOTEL
17,Jacksonville,US,88.09,30.3322,-81.6556,Hyatt Regency Jacksonville Riverfront
...,...,...,...,...,...,...
558,Mount Pleasant,US,82.00,32.7941,-79.8626,Best Western Patriots Point
559,Cacimba De Dentro,BR,80.60,-6.6417,-35.7900,Casa de Farinha
570,Tambacounda,SN,87.85,13.7539,-13.7586,
572,Wanning,CN,82.81,18.8003,110.3967,Paradise Hotel
573,Bom Jesus,BR,89.35,-9.0744,-44.3586,Hotel Brasão & Floricultura Bella Flor

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))