## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/myric/UCF_Projects/Mod_6/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,2,Kapaa,US,82.47,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,6,Jamestown,US,81.30,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,7,Hilo,US,82.26,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,22,Cabimas,VE,87.44,broken clouds,10.3883,-71.4399,Foresgum jejdjdkdkdkdkdkdkdkdkd
4,24,Porbandar,IN,81.07,overcast clouds,21.6422,69.6093,Lords Inn Porbandar

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[(vacation_df)["City"] == "Somerset"]
vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
84,403,Somerset,US,85.12,clear sky,40.5668,-74.5496,Hilton Garden Inn Bridgewater

In [6]:
vacation_end = vacation_df.loc[(vacation_df)["City"] == "Somerset"]
vacation_end

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
84,403,Somerset,US,85.12,clear sky,40.5668,-74.5496,Hilton Garden Inn Bridgewater

In [7]:
vacation_stop1 = vacation_df.loc[(vacation_df)["City"] == "Union"]
vacation_stop1

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
36,205,Union,US,82.74,overcast clouds,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford

In [8]:
vacation_stop2 = vacation_df.loc[(vacation_df)["City"] == "Rockland"] 
vacation_stop2

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
125,647,Rockland,US,81.72,broken clouds,41.1668,-74.0496,National Camp Association

In [9]:
vacation_stop3 = vacation_df.loc[(vacation_df)["City"] == "Westport"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
55,292,Westport,US,82.62,overcast clouds,41.1415,-73.3579,The Westport Inn

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame.
four_cities_df = vacation_df.loc[[84,36,125,55],:]

# four_cities_df

coordinate_list = list(zip(four_cities_df['Lat'], four_cities_df['Lng']))
coordinate_list

[(40.5668, -74.5496),
 (40.6334, -74.2663),
 (41.1668, -74.0496),
 (41.1415, -73.3579)]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacay_route = gmaps.directions_layer(coordinate_list[0],coordinate_list[0], waypoints=[coordinate_list[1],coordinate_list[2]],
                                  travel_mode='DRIVING')
fig.add_layer(vacay_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([four_cities_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,403,Somerset,US,85.12,clear sky,40.5668,-74.5496,Hilton Garden Inn Bridgewater
1,205,Union,US,82.74,overcast clouds,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford
2,647,Rockland,US,81.72,broken clouds,41.1668,-74.0496,National Camp Association
3,292,Westport,US,82.62,overcast clouds,41.1415,-73.3579,The Westport Inn

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))